*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 960px;
    margin: 0 auto;
}
nav ul{
    position: fixed;
    top: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    /*text-align: right;*/
    background-color: lightgreen;
}
nav li{
    /*background: linear-gradient(to top,blue, lightblue);*/
    display: inline-block;
}

nav li a, nav li a:visited{
    display: block;
    width: 80px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav li a:hover {
    background-color: yellow;    
}


.portfolio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    border: 10px solid black; 
}

.flex-item{
    padding: 20px;
    flex-basis: 30%;
}
figcaption{
    text-align: center;
}
.portfolio a {

}

a img {
    width: 100%;
}

