*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    position: fixed;
    top: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    /*text-align: right;*/
    background-color: lightgreen;
}
nav li{
    /*background: linear-gradient(to top,blue, lightblue);*/
    float:right;
}

nav li a, nav li a:visited{
    display: block;
    width: 80px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav li a:hover {
    background-color: yellow;    
}

img {
    width: 50%;
}

.portfolio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    border: 10px solid black; 
}

.portfolio a {
    display: block;
    width: 30%;

}

a img {
    width: auto;
}

